* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{

}

#banner{

}

#content{

}

#bottom{

}

#logo{
    width:250px;
    height:225px;
    border: solid black 3px;
    border-radius: 20px;
}

